@import './styles/shared.scss';

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding-top: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: var(--main-color);
  background-color: var(--main-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  margin-bottom: 20px;
  color: var(--active-color);
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.addBtnImg {
  fill: var(--second-color);
  margin-left: 10px;
}
.header__link {
  color: var(--second-color);
  text-decoration: none;
  font-weight: bold;
  &:not(:last-child) {
    margin-right: 20px;
  }
  &:hover {
    text-decoration: underline;
    color: var(--second-color);
  }
}
.header__link-active {
  color: var(--active-color);
}
.wrapper {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.contacts {
  display: flex;
}
.container-page {
  & > .title {
    text-align: center;
  }
  &.container-page__home {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: url('./images/book-159880.png') no-repeat fixed;
    background-position-y: 80px;
    background-size: contain;
  }
  &.container-page__contacts {
    background: url('./images/fon.jpg') no-repeat;
    background-size: cover;
  }
}

.contacts-count {
  margin-bottom: 30px;
}
.contacts-count__value {
  color: var(--active-color);
}
.form {
  width: 320px;
}
.contacts-operations {
  margin-left: 60px;
  width: 300px;
  height: 100vh;
  border-right: 1px dotted var(--active-color);
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 16px;
}
.input {
  margin-top: 5px;
  padding: 2px 5px;
  border: none;
  outline: none;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  &:focus {
    border: 3px solid var(--second-border-color);
    box-shadow: 0 0 3px 0 var(--second-border-color) inset,
      0 0 3px 3px var(--second-border-color);
  }
}
.formBtn {
  color: var(--second-color);
  background-color: var(--active-color);
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid var(--main-border-color);
  cursor: pointer;
  font-weight: bold;
  transition: all 150ms ease-in-out;
  &:hover {
    box-shadow: 0 0 5px 0 var(--active-color) inset,
      0 0 5px 4px var(--active-color);
  }
}
.addBtn {
  margin-bottom: 30px;
  &:hover {
    box-shadow: 0 0 5px 0 var(--second-border-color) inset,
      0 0 5px 4px var(--second-border-color);
  }
}
